@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


body{
    background-color: springgreen;
}

#comment{
    background-color: darkslategray;
    color: aliceblue;
    font-family: 'Fira Code', monospace;
}

#logo{
    font-family: 'Rubik Marker Hatch', cursive;
}

#ejec{
    font-family: 'Concert One', cursive;
}

#debug{
    font-family: 'Concert One', cursive;
}

#detener{
    font-family: 'Concert One', cursive;
}

#copi{
    font-family: 'Concert One', cursive;
}

#collapsibleNavbar{
    font-family: 'Concert One', cursive;
}

#encabezado{
    font-family: 'Concert One', cursive;
}
